In [2]:
import pandas as pd 
import numpy as np

In [3]:
data=pd.read_csv("./data/gemstone.csv")

In [4]:
data.drop(labels=["id"],axis=1,inplace=True)

In [5]:
data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [6]:
X=data.drop(labels=["price"],axis=1)

In [7]:
y=data[["price"]]

In [8]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [9]:
categorical_data=X.select_dtypes(include="object").columns

In [10]:
numerical_data=X.select_dtypes(exclude="object").columns

In [36]:
categorical_data

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [37]:
numerical_data

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [38]:
numerical_data=X.select_dtypes(exclude="object")

In [39]:
numerical_data

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [40]:
categorical_data=X.select_dtypes(include="object")

In [41]:
categorical_data

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [69]:
numerical_columns = X.select_dtypes(exclude="object").columns.tolist()
categorical_columns = X.select_dtypes(include="object").columns.tolist()

In [70]:
data["cut"].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [71]:
data["color"].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [72]:
data["clarity"].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [73]:
cut_categories=["Fair","Good","Very Good","Premium","Ideal"]
color_categories=["D","E","F","G","H","I","J"]
clarity_categories=["I1","SI2","SI1","VS2","VS1","VVS2","VVS1","IF"]
categories=[cut_categories,color_categories,clarity_categories]

In [74]:
from sklearn.impute import SimpleImputer ##Handling missing values
from sklearn.preprocessing import StandardScaler ## Handling feature scaling
from sklearn.preprocessing import OrdinalEncoder ## Ordinal encoding
##Pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [75]:
numerical_pipeline=Pipeline(

    steps=[
        ("imputer",SimpleImputer()),
        ("scalar",StandardScaler())

    ]


)

In [76]:
categorical_pipeline=Pipeline(

    steps=[

         ("imputer",SimpleImputer(strategy="most_frequent")),
         ("ordinalencoder",OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [82]:
Preprocessor = ColumnTransformer(
    [("numerical_pipeline", numerical_pipeline, numerical_columns),
     ("categorical_pipeline", categorical_pipeline, categorical_columns)]
)

In [83]:
# Preprocess numerical data
X_numerical_transformed = numerical_pipeline.fit_transform(X[numerical_columns])

In [84]:
# Preprocess categorical data
X_categorical_transformed = categorical_pipeline.fit_transform(X[categorical_columns])

In [86]:
# Concatenate the results
X_processed = np.concatenate([X_numerical_transformed, X_categorical_transformed],axis=1)

In [81]:
Preprocessor = ColumnTransformer(
    
    [("numerical_pipeline",numerical_pipeline,numerical_data),
     ("categorical_pipeline",categorical_pipeline,categorical_data)
     
     ]
)

In [79]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30, random_state=30)

In [87]:

Preprocessor.fit_transform(X_train)

array([[-0.97543926, -0.84960654, -0.12153081, ...,  4.        ,
         5.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  1.        ,
         1.        ,  2.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  3.        ,
         3.        ,  4.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  1.        ,
         3.        ,  2.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  4.        ,
         3.        ,  4.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  4.        ,
         3.        ,  2.        ]])

In [89]:
Preprocessor.get_feature_names_out()

array(['numerical_pipeline__carat', 'numerical_pipeline__depth',
       'numerical_pipeline__table', 'numerical_pipeline__x',
       'numerical_pipeline__y', 'numerical_pipeline__z',
       'categorical_pipeline__cut', 'categorical_pipeline__color',
       'categorical_pipeline__clarity'], dtype=object)

In [90]:
X_train

        carat      cut color clarity  depth  table     x     y     z
168192   0.34    Ideal     I    VVS2   60.9   57.0  4.56  4.53  2.76
35202    0.90     Good     E     SI1   63.8   57.0  6.07  6.03  3.87
41091    1.02  Premium     G     VS1   62.7   58.0  6.35  6.39  4.00
31239    0.32  Premium     G     VS2   62.1   59.0  4.37  4.35  2.71
45722    0.35    Ideal     J    VVS2   61.1   56.0  4.53  4.57  2.78
...       ...      ...   ...     ...    ...    ...   ...   ...   ...
66455    0.31    Ideal     E     SI1   61.8   56.0  4.31  4.35  2.68
46220    1.25    Ideal     G     SI2   62.0   56.0  6.88  6.95  4.28
98804    1.00     Good     G     SI1   63.5   56.0  6.29  6.37  4.02
48045    1.10    Ideal     G     VS1   59.9   60.0  6.68  6.77  4.01
169765   0.91    Ideal     G     SI1   62.7   57.0  6.14  6.18  3.86

[135501 rows x 9 columns]

In [91]:
X_test

        carat        cut color clarity  depth  table     x     y     z
70432    0.53    Premium     E     VS2   60.8   56.0  5.24  5.21  3.19
64839    0.71  Very Good     H     SI1   62.9   57.0  5.67  5.69  3.56
185316   0.30      Ideal     H      IF   62.1   57.0  4.27  4.29  2.66
84658    1.24    Premium     G     VS2   61.6   61.0  6.88  6.82  4.21
31953    0.36    Premium     E     VS1   60.4   58.0  4.60  4.63  2.80
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
192694   1.26  Very Good     H     VS2   63.1   56.0  6.83  6.87  4.33
133935   0.33      Ideal     F    VVS1   62.1   55.0  4.45  4.48  2.77
44763    0.70    Premium     J     VS2   58.2   60.0  5.83  5.80  3.38
29856    0.41      Ideal     G     SI1   61.6   57.0  4.77  4.75  2.93
62426    2.00    Premium     J     VS2   61.0   60.0  8.09  7.97  4.92

[58072 rows x 9 columns]